<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liste de reservations</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Liste de redervations</h1>
      {% if reservations %} {% for r in reservations %}
      <p>Nom : {{ r.nom}} | chambre : {{ r.chambre}} | date : {{ r.date}}</p>
      {% endfor %} {% else %}
      <p>Aucune reservation pour le moment.</p>
      {% endif %}
      <br />
      <a href="/reservation" class="btn">Nouvelle reservation</a>
      <br /><br />
      <a href="/">Retour acceuil</a>
    </div>
  </body>
</html>
