<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réservation</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="page-body">

<div class="navbar">
    <h2>Espace Client</h2>
    <div>
        <a href="/logout">Déconnexion</a>
    </div>
</div>

<div class="container">
    <h1>Réserver une chambre</h1>

    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}

    <form method="POST">
        <select name="chambre">
            {% for c in chambres %}
            <option value="{{ c.numero }}">
                Chambre {{ c.numero }} - {{ c.type }} - {{ c.prix }} DH
            </option>
            {% endfor %}
        </select>
        <br><br>

        <input type="date" name="date">
        <br><br>

        <button class="btn" type="submit">Réserver</button>
    </form>
</div>

</body>
</html>