<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservation</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Reserver une chambre</h1>

      {% if message %}
      <p>{{ message }}</p>
      {% endif %}

      <form method="post">
        <input type="text" name="nom" placeholder="Nom Complet" /><br /><br />

        <select name="chambre">
          {% for c in chambres %}
          <option value="{{ c.numero }}">
            Chambre {{ c.numero }} - {{ c.type }} - {{ c.prix }} DH
          </option>
          {% endfor %}
        </select>
        <br /><br />

        <input type="date" name="date" /><br /><br />

        <button class="btn">Reserver</button>
      </form>

      <br />
      <a href="/">Retour à l'accueil</a>
      <br />
      <a href="/liste">Voir les réservations</a>
    </div>
  </body>
</html>
