<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="login-page">

<div class="login-card">
    <img src="{{ url_for('static', filename='mazagan-logo.png') }}" class="hotel-logo">

    <h1>Create Account</h1>
    <p>Client account</p>

    {% if message %}
        <div class="error-message">{{ message }}</div>
    {% endif %}

    <form method="POST">
        <input type="text" name="nom" placeholder="Nom complet">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Mot de passe">
        <button type="submit">Créer compte</button>
    </form>

    <a href="{{ url_for('home') }}" class="create-link">J'ai déjà un compte</a>
</div>

</body>
</html>